<div class="invites-page">
  
    <div class="heading">
        <h2>Invite Guests to
        <%= link_to event_path(@event) do %>
            <%= @event.location %>
        <% end %>
        </h2>
    </div>
    
    <div class="users-container">
        <ul>
            <% @users.each do |user| %>
                <% unless user.id == current_user.id %>
                    <li>
                        <div class="name">
                            <%= user.first_name %>
                            <%= user.last_name %>
                        </div>
                        <div class="invite">
                            <% if @event.invited_attendees.include?(user)%>
                                <%= link_to  guest_path(id: 0, event_id: @event.id, access: :invited, user_id: user.id),
                                    data: { turbo_method: :delete } do %>
                                        Uninvite
                                <% end %>
                            <% else %>
                                <%= link_to guests_path(event_id: @event.id, access: :invited, user_id: user.id),
                                                    data: {turbo_method: :post} do %>
                                        Invite
                                <% end %>
                            <% end %>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
