<h2>Own Events</h2>

<%= render "events/event-list", events: @events.upcoming %>

<h2>Event Invitations</h2>

<%= render "events/event-list", events: current_user.invited_events_not_attended %>

<h2>Events Attending</h2>

<%= render "events/event-list", 
events: current_user.attended_events.where("date >= ?", Date.current ) %>

<h2>Past Own Events</h2>

<%= render "events/event-list", events: @events.past%>


<h2>Past Events Attended</h2>

<%= render "events/event-list", 
events: current_user.attended_events.where("date < ?", Date.current ) %>
