<h2>Event Details</h2>

<div class="event-container">
    <div class="event-card">
        <div class="event-creator">
            Hosted by: <%= @event.creator.first_name %>
        </div>
        <div class="event-location">
            Location: <%= @event.location %>
        </div>
        <div class="event-date">
            Date: <%= @event.date %>
        </div>
        <% if user_signed_in? %>
            <% if @event.own_event(current_user.id) %>
                <div class="edit-delete-buttons">
                    <div class="event-button">
                        <%= link_to edit_event_path(@event) do %>
                            <div>Edit</div>
                        <% end %>
                    </div>
                    <div class="event-button">
                        <%= link_to event_path(@event),
                        data: { turbo_method: :delete,
                                turbo_confirm: "Are you sure?"} do %>
                            <div>Delete</div>
                        <% end %>
                    </div>
                </div>
            <% else %>
                <% if @event.not_attended?(current_user.id) && @event.upcoming_event? %>
                    <div class="event-attend-button">
                        <%= link_to  guests_path(event_id: @event.id), data: { turbo_method: :post } do %>
                            <div>Attend</div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
